results/*
!results/siberian_storm/
__pycache__
.idea
notes.txt
test_access.py
bonus_selectors.py
slot_results.csv
*.pdf
buffalo_analysis.py
buffalo_bootstrap.py
paper
supermegaslot.py
fire_light_analysis.py